* {
  padding: 0;
  border: 0;
}


canvas {
  position: absolute; 
  margin-top: 15vw;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  background-color: rgb(67, 245, 227);
  border: 1px solid black;
}
